<!-- Header
		============================================= -->
		<header id="header" class="transparent-header full-header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-bars"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="/" class="standard-logo" data-dark-logo="../../assets/images/logo-dark.png"><img src="../../assets/images/logo-dark.png" alt="247 Studio Logo"></a>						
            			<a href="/" class="retina-logo" data-dark-logo="../../assets/images/logo-dark.png"><img src="../../assets/images/logo-dark.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="dark">
						<ul>
							<li class="current"><a href="/">
									<div>Home</div>
								</a></li>
							<li><a href="#">
									<div>Estudio</div>
								</a>
								<ul>
									<li><a href="/actualidad">
											<div><i class="icon-compact-disc"></i>Actualidad</div>
										</a></li>
									<li><a href="/trayectoria">
											<div><i class="icon-headphones"></i>Trayectoria</div>
										</a></li>
								</ul>
							</li>
							<li><a href="#">
									<div>Servicios</div>
								</a>
								<ul>
									<li><a href="/escuela">
											<div><i class="icon-vynil"></i>Escuela de DJ</div>
										</a></li>
									<li><a href="/salas">
											<div><i class="icon-volume"></i>Salas de Ensayo</div>
										</a></li>
									<li><a href="/produccion">
											<div><i class="icon-calendar-alt"></i>Producción de Eventos</div>
										</a></li>
									<li><a href="/alquiler">
											<div><i class="icon-dollar-sign"></i>Alquiler de Equipos</div>
										</a></li>
								</ul>
							</li>
							<li><a href="/roster">
									<div>Roster</div>
								</a></li>
							<li><a href="/contacto">
									<div>Contacto</div>
								</a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix">
			<div class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark">
							<div class="container clearfix">
							</div>
							<div class="video-wrap">
								<video id="slide-video" preload="auto" loop autoplay muted>
									<source src='../../assets/images/videos/video1.mp4' type='video/mp4' />
								</video>
								<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
							</div>
						</div>
					</div>
				</div>

				<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">
					<div class="row clearfix">

						<div class="col-xl-5">
							<div class="heading-block">
								<h1>247 Studio</h1>
							</div>
							<p class="lead">El Estudio nace bajo la premisa de revolucionar la escena musical de Bahía Blanca formando nuevos talentos y brindando un espacio único con las mejores herramientas que todo DJ, productor o amante de la música necesita para desarrollarse.</br></p>
                            <a href="/actualidad" class="button button-border button-dark button-rounded button-large noleftmargin">Ver Mas</a>
                        </div>

						<div class="col-xl-7">

							<div style="position: relative; margin-bottom: -60px;" class="ohidden" data-height-xl="426" data-height-lg="567" data-height-md="470" data-height-md="287" data-height-xs="183">
								<img src="../../assets/images/final247/jarwatt.jpg" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="100" alt="Chrome">
							</div>

						</div>

					</div>
				</div>
        

                <div class="section nobottommargin notoppadding">
                    <div class="container clear-bottommargin clearfix">
						<section id="page-title" class="page-title-center">
						
							<div class="container clearfix">
								<h1>Novedades</h1>
							</div>
						
						</section>
                        <div class="row topmargin-sm clearfix">
                            
                            <div id="oc-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="20"
                                data-nav="true" data-pagi="false" data-items-xs="2" data-items-sm="2" data-items-md="3"
                                data-items-lg="4">
                                
                                {{#each allNews}}
                                <div class="oc-item">
                                    <div class="iportfolio">
                                        <div class="portfolio-image">
                                            <a href="#">
                                                <img src="../../assets/images/final247/{{imagePath}}" alt="{{name}}">
                                            </a>
                                            <div class="portfolio-overlay">
                                                <a href="{{link}}" class="center-icon" data-lightbox="iframe"><i
                                                        class="icon-line-play"></i></a>
                                            </div>
                                        </div>
                                        <div class="portfolio-desc">
                                            <h3><a href="{{link}}">{{name}}</a></h3>
                                            <span><a href="{{link}}"><i class="icon-youtube"></i>&nbsp; Ver en YT</a></span>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="calltoaction" class="section nobottommargin notopmargin">
                    <div class="container clear-bottommargin clearfix">
                
                        <div class="row clearfix">
                            <div class="col-12 col-md-10">
                                <p class="lead"><strong>Ofrecemos al artista que busca crecer un abanico de recursos y oportunidades para abrirse camino en el mundo de la música.</strong></p>
                            </div>
                            <div class="col-12 col-md-2">
                                <a href="/contacto" class="button button-border button-dark button-rounded button-large noleftmargin">Contactanos</a>
                            </div>
                        </div>
                    </div>
                </div>            
			</div>

		</section><!-- #content end -->